.header-container {
  background-color: #6C5DD3;
  padding: 20px;
  text-align: center;
  border:1px solid #AB82FF;
  border-left:150px solid transparent;
  border-right:150px solid transparent;
}

.title {
  color: #EEEEEE;
  font-size: 2.5rem;
  margin: 0;
}

.subtitle {
  color: #AB82FF;
  font-size: 1.2rem;
  margin: 5px 0 0;
}
